{% extends 'base.html' %}
{% block content %}
    <div class="pg-home">
        <div class="container">
            <div class="banner-em-breve">

                <img class="logotipo-grande" src="{{ STATIC_URL }}img/banner_eventx.png" alt=""><br>
                <span class="txt-titulo">O evento mais sensacional do</span> <br>
                <span class="txt-titulo">ano depois do Dev in Rio</span>

                <br>
                <p>
                    Você não pode perder esta oportunidade
                    <br>Abertura das inscrições em 21/04/2013
                </p>
                <p><strong><a href="{% url 'subscriptions:subscribe' %}">Inscreva-se já!</a></strong></p>
            </div>
        </div>
    </div>
{% endblock content %}