<!DOCTYPE HTML PUBLIC "-­‐//W3C//DTD HTML4.01//EN">
<html>
	<head>
		<title>EventeX</title>
	   	<link type="text/css" href="{{STATIC_URL}}css/style.css" rel="stylesheet" media="screen"/>
  	</head>
<body>
	<div id="page">
    	<div id="header">
      		<center>
  				<img src="{{STATIC_URL}}img/logo.png"/>
  			</center>
    	</div>
    </div>
    <div id="content">
	  	<h1>Bem-­vindo ao EventeX!</h1>
	  	<p>O evento mais sensacional do ano depois do Dev in Rio!</p>

	  	<p>Você não pode perder esta oportunidade!</p>
		<p><strong>Abertura das inscrições em 21/04/2013.</strong></p>

		<p>Para dúvidas e mais informações entre em contato com eventex@eventex.com.br</p>
	</div>
	<div id="page">
    	<div id="footer"></div>
    </div>
</body>
</html>
